body{
    background-color: yellow;
}
h1 {
    color: blue;
    font-family: Verdana, Geneva, sans-serif;
}

p {
    color: blue;
    font-family: Georgia, serif;
}

h4 {

    font-family: Verdana, Geneva, sans-serif;
}