<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">
    <title>Oderman</title>
</head>
<body>
    <h1>Dominos Pizza</h1>
    <nav>

    {% for Menu in ['show_menu'] %}
    <a href="{{ url_for(Menu) }}">Меню</a>
    {% endfor %}

</nav>

    <nav>

    {% for Order in ['make_order'] %}
    <a href="{{ url_for(Order) }}">Замовити</a>
    {% endfor %}

</nav>
    <nav>

    {% for creation in ['create_pizza'] %}
    <a href="{{ url_for(creation) }}">Створити</a>
    {% endfor %}

</nav>

    <nav>

    {% for poll in ['start_poll'] %}
    <a href="{{ url_for(poll) }}">Відгук</a>
    {% endfor %}

</nav>


    <nav>

    {% for weather in ['weather'] %}
    <a href="{{ url_for(weather) }}">Погода</a>
    {% endfor %}

</nav>




<div class="gradient-border">
    <img src="static/dominos-pizza.jpg">
    </div>
</body>
</html>